<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="styles/detailRoom.css">
</head>
<body>
	<%- include("partials/nav") %>
	<header>
		<h1><%= room.room %></h1>
	</header>
	<main>
		<p class="subtitle">Klusjes</p>
		<div class="container chores">
			<% room.chores.forEach(function(chore) { %>
				<a href="javascript:void(0)" data-choreName="<%= chore.choreName %>">
					<span><%= chore.choreName %></span>
					<span class="points"><%= chore.points %></span>
				</a>
			<% }) %>
		</div>
		<div class="choreModal" style="display: none;">
			<div class="choreContent">
				<div class="modalHeader">	
					<h2 class="choreTitle"></h2>
					<span class="closeModal">&times;</span>
				</div>
				<div class="innerModal container">
					<label for="datePicker">Datum</label>
					<input type="datetime-local" id="datePicker" class="modalDatepicker">
					<p>Bewijs</p>
					<label for="evidencePic">
						<input type="file" id="evidencePic">
						<%- include("../static/assets/upload.svg") %>
						<a href="javascript:void(0)" class="secondaryBtn">Upload</a>
					</label>
					<img class="evidencePhoto" alt="">
					<label for="notes">Notities</label>
					<span><textarea name="" id="notes"></textarea></span>
					<a href="javascript:void(0)" class="primaryBtn saveChore">Opslaan</a>
				</div>
			</div>
		</div>
	</main>
	<script>
		document.querySelector("header").style.background = `linear-gradient(120deg, #8edc8fbf, #3fbfb2c4), url(<%= room.roomImg %>) no-repeat center center`;
		document.querySelector("header").style.backgroundSize = "cover";
	</script>
</body>
</html>