<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ChoreScore - notificaties</title>
	<script src="scripts/notifications.js" type="module" defer></script>
</head>
<%- include("partials/head") %>
<body>
	<%- include("partials/nav") %>
	<header>
		<div class="flex">
			<h1>Notificaties</h1>
			<%- include("partials/notificationsLink") %>
		</div>
	</header>
	<main>
		<p class="subtitle">Notificaties</p>
		<div class="container">		
			<% notifications.forEach(function(notification) { %>
				<% if (notification.household === userData.household) { %>
					<p class="notification" data-notification-id="<%= notification.id %>"><%= notification.mainUser %> - <%= notification.chore.choreName %></p>
				<% } %>
			<% }) %>
		</div>
	</main>
</body>
</html>