<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ChoreScore</title>
</head>
<%- include("partials/head") %>
<body>
	<%- include("partials/nav") %>
	<header>
		<div class="flex">
			<h1><%= userData.household %></h1>
			<%- include("partials/notificationsLink") %>
		</div>
	</header>
	<main>
		<p class="subtitle">Scorelijst</p>
		<div class="container scoreList">
			
		</div>
		<a href="javascript:void(0)" class="primary-btn notificationBtn">trigger notification</a>
		<p class="subtitle">Jouw scores</p>
		<div class="container">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos eos quas dolor nihil minus rem quae, inventore, velit blanditiis quos.</p>
		</div>
	</main>
	<script>const householdData = <%- JSON.stringify(householdUsers) %>; const userData = <%- JSON.stringify(userData) %></script>
	<script src="scripts/showScores.js"></script>
</body>
</html>